* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 46px;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
}

#griglia {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}